## Practical Exam: Insurance Upgrades
<p>Travel Assured provides travel services to its customers. They are based in the United States.</p>
<p>Travel Assured provides everything from flights and hotel bookings to holiday insurance.</p>
<p>The sales team wants to sell upgrades to customers. So they can do this, it is vital that the data is clean, accurate and available for reporting. </p>
<p>They need your help to prepare some data before they start to run a new promotion. </p>
<p>The data you need is in the database named <code>insurance</code>. </p>
<p><strong>Database Schema</strong></p>
<p><img src="https://assets.datacamp.com/production/project_1642/img/schema.png" alt="database schema"></p>
<h2 id="task1">Task 1</h2>
<p>The sales team want to use customer information to target their new promotion. But, they think the data may not be clean enough to use. The table below shows what the sales team expect the data types and format to be.</p>
<table>
<thead>
<tr>
<th>Column Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>customer_id</td>
<td>Unique integer (set by the database, canâ€™t take any other value)</td>
</tr>
<tr>
<td>location</td>
<td>State names as a lower case string</td>
</tr>
<tr>
<td>age</td>
<td>Integer value giving age of customer</td>
</tr>
<tr>
<td>registration_date</td>
<td>Date of first registration with company (YYYY-MM-DD)</td>
</tr>
</tbody>
</table>
<p>Write a query to ensure that the <code>customer</code> table matches the description provided. </p>

In [0]:
 
%%sql 
postgresql:///insurance

-- Execute your SQL commands here
SELECT customer_id, 
      LOWER(location) as location, 
     SPLIT_PART(age,' ', 1)::INT AS age,
    registration_date
From customer;

In [0]:
%%nose

import pandas as pd
import numpy as np
import re
from pandas.api.types import is_numeric_dtype

last_output = _

test_solution = pd.read_csv('datasets/task1.csv')
 
student_result = last_output.DataFrame().sort_values(by='customer_id')

def test_ksa1():  
    assert student_result.shape == (1500, 4), \
    "Clean categorical and text data by manipulating strings. "
    assert (test_solution['location'].str.strip().values == student_result['location'].str.strip().values).all(), \
    "Clean categorical and text data by manipulating strings. "
         
def test_ksa2():
    assert student_result.shape == (1500, 4), \
    "Convert values between data types."
    assert student_result['age'].dtype == 'int', \
    "Convert values between data types."
    assert (test_solution['age'].values == student_result['age'].values).all(), \
    "Convert values between data types. "

## Task 2
<p>You have been informed that there has been a problem in the data entry. Some people who bought a new policy had their purchase type set to NULL instead of New.</p>
<p>Return the corrected <code>purchase</code> table.</p>

In [0]:
%%sql 
postgresql:///insurance
%%sql 
postgresql:///insurance

-- Execute your SQL commands here
SELECT purchase_id, COALESCE(purchase_type, 'New') AS purchase_type
FROM purchase;

In [0]:
%%nose

import pandas as pd
import numpy as np
import re
from pandas.api.types import is_numeric_dtype

last_output = _

test_solution = pd.read_csv('datasets/task2.csv')

student_result = last_output.DataFrame().sort_values(by='purchase_id')

def test_ksa1():  
    assert student_result.shape == (1500, 2), \
    "Identify and replace missing values."
    assert (test_solution['purchase_type'].str.strip().values == student_result['purchase_type'].str.strip().values).all(), \
    "Identify and replace missing values."

## Task 3
<p>The sales team wants to run a promotion on upgrades to international travel insurance policies. They only want to send this promotion to customers who have an active, US policy type.</p>
<p><img src="https://assets.datacamp.com/production/project_1642/img/schema.png" alt="database schema"></p>
<p>Write a query to provide the customer ID and start date for eligible customers. </p>

In [0]:
%%sql 
postgresql:///insurance  
 

-- Execute your SQL commands here
SELECT s.customer_id, p.start_date 
FROM sales s
LEFT JOIN policy p ON s.policy_id = p.policy_id
WHERE policy_type = 'US' AND active = 'True';

In [0]:
%%nose

import pandas as pd
import numpy as np
import re
from pandas.api.types import is_numeric_dtype

last_output = _

test_solution = pd.read_csv('datasets/task3.csv')

student_result = last_output.DataFrame().sort_values(by='customer_id')

test_solution['start_date'] = pd.to_datetime(test_solution['start_date'])
student_result['start_date'] = pd.to_datetime(student_result['start_date'])

def test_ksa1():  
    assert student_result.shape == (382, 2), \
    "Extract data based on different conditions using PostgreSQL."
    assert (test_solution['customer_id'].values == student_result['customer_id'].values).all(), \
    "Extract data based on different conditions using PostgreSQL."

def test_ksa2():
    assert student_result.shape == (382, 2), \
        "Interpret a database schema and combine multiple tables by rows or columns using PostgreSQL."
    assert (test_solution['start_date'] == student_result['start_date']).all(), \
        "Interpret a database schema and combine multiple tables by rows or columns using PostgreSQL."

## Task 4
<p>After the promotion has been sent, the sales team will need to monitor the number of active policy holders by policy type who purchased an upgrade.  </p>
<p><img src="https://assets.datacamp.com/production/project_1642/img/schema.png" alt="database schema"></p>
<p>Write a query that returns the data for the sales team to monitor. Your output should include <code>policy_type</code> and <code>number_active</code> columns.</p>

In [0]:
%%sql 
postgresql:///insurance
%%sql 
postgresql:///insurance

-- Execute your SQL commands here
SELECT policy_type, COUNT(*) AS number_active
FROM policy
WHERE active = True AND policy_id IN(SELECT s.policy_id
FROM sales s
LEFT JOIN purchase p ON s.purchase_id = p.purchase_id
WHERE purchase_type = 'Upgrade')
GROUP BY policy_type;

In [0]:
%%nose

import pandas as pd
import numpy as np
import re
from pandas.api.types import is_numeric_dtype

last_output = _

test_solution = pd.read_csv('datasets/task4.csv')

student_result = last_output.DataFrame().sort_values(by='policy_type',ascending=False)

def test_ksa1():  
    assert student_result.shape == (2, 2), \
    "Aggregate numeric, categorical variables and dates by groups using PostgreSQL."
    assert (test_solution['number_active'].values == student_result['number_active'].values).all(), \
    "Aggregate numeric, categorical variables and dates by groups using PostgreSQL."

def test_ksa2():  
    assert student_result.shape == (2, 2), \
    "Interpret a database schema and combine multiple tables by rows or columns using PostgreSQL."
    assert (test_solution['policy_type'].str.strip().values == student_result['policy_type'].str.strip().values).all(),\
    "Interpret a database schema and combine multiple tables by rows or columns using PostgreSQL."